$yellow: #FFD15B;
$black: #1B1B1B;
$grey: #7A7A7A;
$light-grey: #C6C6C6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EDEDED;
}


.search-b {
    &__container {
        padding: 50px 70px;
        height: 667px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/background.png');
        background-size: cover;
    }


    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        font-family: 'Anton', sans-serif;
        color: $yellow;
        font-family: 'Anton';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 66px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    &__logo {
        display: flex;
        align-items: center;

        span {
            font-family: 'Anton';
            font-style: normal;
            font-weight: 400;
            font-size: 29px;
            color: white;

            margin-right: 5px;
        }
    }

    &__bar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        input {
            background: white;
            border-radius: 11px;
            padding: 25px 35px;
            width: 75%;
            height: 72px;

            outline: none;
            border: none;

            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: $grey;

            &:focus::placeholder {
                color: transparent;
            }
        }
        button {
            outline: none;
            border: none;
            cursor: pointer;
            transition: all .3s ease;
        }
        &-buttons {
            position: absolute;
            right: 13%;
            display: flex;
            align-items: center;
        }
        &-btn {
            background: $black;

            height: 50px;
            width: 50px; 
            padding: 12px;
            border-radius: 10px;
      
            &:hover {
                background: $yellow;
            }
        }

        &-reset {
            height: fit-content;
            margin-right: 24px;
            background: transparent;

            transition: .3s ease all;

            visibility: hidden;
            opacity: 0;
        }
    }
    &__active-filters {
        display: flex;
        align-items: center;
        padding: 0 102px;
        flex-wrap: wrap;
        gap: 16px;
    }
    &__active-filter {
        display: flex;
        padding: 17px 18px;
        align-items: center;
        border-radius: 10px;
        background: #FFD15B;
        color: black;
        gap: 60px;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
        svg {
            transition: .5s ease all;
            cursor: pointer;
            &:hover {
                color: #3B3B3B;
            }
            path {
                pointer-events: none;
            }
        }
    }
    &__filters {
        display: flex;
        align-items: center;
        padding: 20px 102px;


        &-content {
            gap: 0 66px;
            display: flex;
        }
        &-nb {
            color: $black;
            font-family: 'Anton';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 32px;

            margin-left: auto;
        }
    }

    &__select {
        background: white;
        border-radius: 11px;
        padding: 17px 16px;
        position: relative;
        cursor: pointer;
        width: 200px;
 
        &--opened {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        &-name {
            display: flex;
            justify-content: space-between;

            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: $black;

            img {
                transition: all .3s ease;
            }

            &--opened {
                img {
                    rotate: 180deg; 
                }
            }
        }

        &-list {
            position: absolute;
            width: 200px;
            
            left: 0;

            translate: 0 15px;
            background: white;
            border-bottom-left-radius: 11px;
            border-bottom-right-radius: 11px;

            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;

            padding: 0 16px;
            z-index: 10;
            cursor: default;

            visibility: hidden;
            opacity: 0;

            transition: all .2s ease;

            &--visible {
                visibility: visible;
                opacity: 1;    
            }
        }

        &-search {
            position: relative;
            margin-bottom: 15px;
            input {
                width: 100%;
                height: 36px;
                padding: 10px;
                border: 1px solid $light-grey;
                border-radius: 2px;
                outline: none;
                color: $grey;
            }

            &-buttons {
                position: absolute;

                display: flex;
                align-items: center;
                height: 36px;

                top: 50%;
                right: 10px;

                translate: 0% -50%;

                button {
                    background: none;
                    outline: none;
                    border: none;
                    height: fit-content;
                    cursor: pointer;
                }
            }
            &-reset { 
                margin-right: 10px;
                transition: .3s ease all;

                visibility: hidden;
                opacity: 0;
            }
            &-reset img {
                width: 10px;
                height: 10px;
            }
            &-btn img {
                width: 14px;
                height: 14px;
            }
        }
        // &-active-filters {
        //     margin-bottom: 15px;
        // }
        &-filters {
            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background: rgba(0,0,0,0.2);
            }

            max-height: 215px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        // &-active-filters, 
        &-filters {
            display: flex;
            flex-direction: column;
            margin-left: -16px;
            margin-right: -16px;
        }

        &-filter {
            cursor: pointer;
            display: flex;
            align-items: center;
            height: 36px;

            padding: 9px 16px;
            transition: all .15s ease;
            &:hover {
                background: yellow;
                // color: $grey;
            }
            
            &--active {
                background: $yellow;
                &:hover {
                    color: currentColor
                }
            }
        }
    }
}


.dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 43px;
    padding: 0 102px;

    gap: 30px;
}

.dish {
    width: 380px;
    
    display: flex;
    flex-direction: column;

    border-radius: 14px;
    background: white;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;

    &__header {
        height: 253px;

        position: relative;
        overflow: hidden;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-duration {
            position: absolute;
            top: 21px;
            right: 22px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 5px 15px;

            background: #FFD15B;
            border-radius: 14px;

            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: $black;
        }
    }

    &__body {
        padding: 32px 25px;


        &-title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.09em;
            text-transform: uppercase;
            color: $grey;

            margin-bottom: 15px;
        }
    }

    &__title {
        font-family: 'Anton';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: black;
        margin-bottom: 30px;
    }
    &__recipe {
        margin-bottom: 32px;

        p {
            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background: rgba(0,0,0,0.2);
            }
            max-height: 100px;
            overflow-y: auto;

            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: $black;
        }
    }

    &__ingredients {
        &__list {
            display: flex;
            flex-wrap: wrap;
            flex: 50%;
            justify-content: space-between;
            // flex: 0 0 50% 50%;
        }

        &__item {
            display: flex;
            flex-direction: column;
            font-family: Manrope;
            width: 45%;
            margin-bottom: 20px;
            
            &-name {
                color: $black;
                font-size: 14px;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &-quantity {
                color: $grey;
                font-size: 14px;
            }
        }
    }
}

.no-result {
    margin-left: 102px;
    color: #1B1B1B;
    font-family: "Anton";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
}