* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EDEDED;
}

.search-b__container {
  padding: 50px 70px;
  height: 667px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/background.png");
  background-size: cover;
}
.search-b__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-b__title {
  font-family: "Anton", sans-serif;
  color: #FFD15B;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 66px;
  text-align: center;
  margin-bottom: 30px;
}
.search-b__logo {
  display: flex;
  align-items: center;
}
.search-b__logo span {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  color: white;
  margin-right: 5px;
}
.search-b__bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-b__bar input {
  background: white;
  border-radius: 11px;
  padding: 25px 35px;
  width: 75%;
  height: 72px;
  outline: none;
  border: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #7A7A7A;
}
.search-b__bar input:focus::-moz-placeholder {
  color: transparent;
}
.search-b__bar input:focus::placeholder {
  color: transparent;
}
.search-b__bar button {
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.search-b__bar-buttons {
  position: absolute;
  right: 13%;
  display: flex;
  align-items: center;
}
.search-b__bar-btn {
  background: #1B1B1B;
  height: 50px;
  width: 50px;
  padding: 12px;
  border-radius: 10px;
}
.search-b__bar-btn:hover {
  background: #FFD15B;
}
.search-b__bar-reset {
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 24px;
  background: transparent;
  transition: 0.3s ease all;
  visibility: hidden;
  opacity: 0;
}
.search-b__active-filters {
  display: flex;
  align-items: center;
  padding: 0 102px;
  flex-wrap: wrap;
  gap: 16px;
}
.search-b__active-filter {
  display: flex;
  padding: 17px 18px;
  align-items: center;
  border-radius: 10px;
  background: #FFD15B;
  color: black;
  gap: 60px;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-b__active-filter svg {
  transition: 0.5s ease all;
  cursor: pointer;
}
.search-b__active-filter svg:hover {
  color: #3B3B3B;
}
.search-b__active-filter svg path {
  pointer-events: none;
}
.search-b__filters {
  display: flex;
  align-items: center;
  padding: 20px 102px;
}
.search-b__filters-content {
  gap: 0 66px;
  display: flex;
}
.search-b__filters-nb {
  color: #1B1B1B;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  margin-left: auto;
}
.search-b__select {
  background: white;
  border-radius: 11px;
  padding: 17px 16px;
  position: relative;
  cursor: pointer;
  width: 200px;
}
.search-b__select--opened {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.search-b__select-name {
  display: flex;
  justify-content: space-between;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1B1B1B;
}
.search-b__select-name img {
  transition: all 0.3s ease;
}
.search-b__select-name--opened img {
  rotate: 180deg;
}
.search-b__select-list {
  position: absolute;
  width: 200px;
  left: 0;
  translate: 0 15px;
  background: white;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  padding: 0 16px;
  z-index: 10;
  cursor: default;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
}
.search-b__select-list--visible {
  visibility: visible;
  opacity: 1;
}
.search-b__select-search {
  position: relative;
  margin-bottom: 15px;
}
.search-b__select-search input {
  width: 100%;
  height: 36px;
  padding: 10px;
  border: 1px solid #C6C6C6;
  border-radius: 2px;
  outline: none;
  color: #7A7A7A;
}
.search-b__select-search-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  height: 36px;
  top: 50%;
  right: 10px;
  translate: 0% -50%;
}
.search-b__select-search-buttons button {
  background: none;
  outline: none;
  border: none;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
.search-b__select-search-reset {
  margin-right: 10px;
  transition: 0.3s ease all;
  visibility: hidden;
  opacity: 0;
}
.search-b__select-search-reset img {
  width: 10px;
  height: 10px;
}
.search-b__select-search-btn img {
  width: 14px;
  height: 14px;
}
.search-b__select-filters {
  max-height: 215px;
  overflow-y: auto;
  overflow-x: hidden;
}
.search-b__select-filters::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.search-b__select-filters::-webkit-scrollbar-track {
  border-radius: 10px;
}
.search-b__select-filters::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.search-b__select-filters {
  display: flex;
  flex-direction: column;
  margin-left: -16px;
  margin-right: -16px;
}
.search-b__select-filter {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 9px 16px;
  transition: all 0.15s ease;
}
.search-b__select-filter:hover {
  background: yellow;
}
.search-b__select-filter--active {
  background: #FFD15B;
}
.search-b__select-filter--active:hover {
  color: currentColor;
}

.dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 43px;
  padding: 0 102px;
  gap: 30px;
}

.dish {
  width: 380px;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  background: white;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  margin-bottom: 30px;
}
.dish__header {
  height: 253px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}
.dish__header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dish__header-duration {
  position: absolute;
  top: 21px;
  right: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  background: #FFD15B;
  border-radius: 14px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #1B1B1B;
}
.dish__body {
  padding: 32px 25px;
}
.dish__body-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #7A7A7A;
  margin-bottom: 15px;
}
.dish__title {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: black;
  margin-bottom: 30px;
}
.dish__recipe {
  margin-bottom: 32px;
}
.dish__recipe p {
  max-height: 100px;
  overflow-y: auto;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #1B1B1B;
}
.dish__recipe p::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.dish__recipe p::-webkit-scrollbar-track {
  border-radius: 10px;
}
.dish__recipe p::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.dish__ingredients__list {
  display: flex;
  flex-wrap: wrap;
  flex: 50%;
  justify-content: space-between;
}
.dish__ingredients__item {
  display: flex;
  flex-direction: column;
  font-family: Manrope;
  width: 45%;
  margin-bottom: 20px;
}
.dish__ingredients__item-name {
  color: #1B1B1B;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__ingredients__item-quantity {
  color: #7A7A7A;
  font-size: 14px;
}

.no-result {
  margin-left: 102px;
  color: #1B1B1B;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
}/*# sourceMappingURL=style.css.map */